<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>推播綁定完成</title>
  </head>
  <body>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

    <script>
      alert("🔔 綁定完成囉！\n開始綁定想通知的直播吧！");
      liff
        .init({ liffId: "<%= liffId %>" })
        .then(() => {
          liff.closeWindow();
        })
        .catch((err) => {
          liff.closeWindow();
        });
    </script>
  </body>
</html>
