<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>圖奇獸綁定推播</title>
  </head>

  <body>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  </body>

  <script>
    liff
      .init({
        liffId: '<%= liffId %>',
      })
      .then(() => {
        if (!liff.isLoggedIn()) liff.login();

        liff.getProfile().then(profile => {
          const userId = profile.userId;
          var URL = 'https://notify-bot.line.me/oauth/authorize?';
          URL += 'response_type=code';
          URL += '&client_id=<%= clientId %>';
          URL += '&redirect_uri=<%= redirectUri %>';
          URL += '&scope=notify';
          URL += `&state=${userId}`;
          window.location.href = URL;
        });
      })
      .catch(err => {
        console.log(err.code, err.message);
        alert('綁定異常，請聯絡作者');
      });
  </script>
</html>
